@import "../../../../../../scss/variables";
@import '~@angular/material/theming';

gradient-background-panel {
  display: block;
  width: 260px;
  height: 400px;
  background-color: $site-bg-color-100;
  box-shadow: -1px 0 2px rgba(0,0,0,.5);
  border-radius: 2px;

  > .header {
    display: flex;
    align-items: center;
    padding: 10px;
    color: inherit;
    font-weight: 500;
    border-bottom: 1px solid $site-border-color-200;

    > .close-button {
      margin-left: auto;
    }
  }

  > .previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;

    > .preview {
      flex: 0 0 23%;
      width: 23%;
      height: 50px;
      margin-bottom: 7px;
      border: 1px solid $site-border-color-200;
      @include mat-elevation-transition;

      &:hover {
        @include mat-elevation(4);
      }
    }
  }
}