@import "../../../../scss/variables";

code-editor {
  display: block;
  min-width: 800px;
  min-height: 540px;
  width: 100%;
  height: 100%;
  background-color: $site-bg-color-100;
  box-shadow: $box-shadow-4;

  .toolbar {
    display: flex;
    align-items: center;
    background-color: $site-bg-color-200;

    > .theme-select-container {
      max-width: 150px;
    }

    > .type-buttons {
      margin-left: auto;
    }

    .action-buttons {
      margin-left: 80px;
    }

    .active {
      color: $site-accent-color;
    }
  }

  .editor-container {
    height: calc(100% - 40px);
  }

  .editor {
    height: 100%;
    min-height: 500px;
    border: 1px solid $site-border-color-200;
    font-size: 1.4rem;
  }
}