@import "../../../../scss/variables";

elements-panel {
  display: block;

  .mat-expansion-panel .mat-expansion-panel-body {
    margin: 0;
  }

  .elements-grid {
    > .element {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 15px;
      border-bottom: 1px solid $site-border-color-200;
      cursor: move;

      &:hover {
        background-color: $site-bg-color-200;
      }

      > svg-icon {
        display: block;
        width: 26px;
        height: 26px;
        color: $site-text-color-300;
      }

      > .name {
        text-transform: uppercase;
        font-size: 1.1rem;
        margin-left: 8px;
      }
    }
  }
}