<div class="buttons">
    <button class="no-style" type="button" (click)="openColorpickerPanel()" #backgroundButton>
        <svg-icon name="format-color-fill"></svg-icon>
        <span class="name" trans>Background</span>
    </button>

    <button class="no-style" type="button" (click)="openBackgroundPanel()">
        <svg-icon name="image"></svg-icon>
        <span class="name" trans>Image</span>
    </button>

    <button class="no-style" type="button" (click)="openGradientPanel()" #gradientButton>
        <svg-icon name="gradient"></svg-icon>
        <span class="name" trans>Gradient</span>
    </button>
</div>